body { background: #ebfdea; }

nav { background: #dbfcdb; }

h1 { border-bottom: 2px solid #13c612; }



/* --- Buttons & Links --- */

* a { 
	color: #fff;
	text-decoration: none;
}



/* --- Navigation Bar --- */

.css-nav {
	font-family: 'Gugi';
	font-size: 1.4em;
}

.css-nav span {
	color: #000;
	transition: all 1s;
}

.css-nav span:Hover { color: #13c612; }

.logo-right {
	padding: 0 12px;
	font-size: 1.7em;
	background:#dbfcdb;
	color: #000;
	border: 2px solid #dbfcdb;
	
	transition: background 0.2s, color 0.2s, border 0.2s, border-radius 1s;
}

.logo-right:Hover {
	background: #555;
	color: #13c612;
	border: 2px solid #555;
	border-radius: 50px;
}

/* --- Form Page --- */

.css-form {
	padding: 20px 30px;
	
}

.css-reg-icon {
	font-size: 55px;
}
